# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [ ]:
import numpy as np
from datascience import *

In [ ]:
# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [ ]:
sample_records = Table.read_table('sample_records.csv').drop(0)
sample_records

# Accessing Rows of our data

In [ ]:
sample_records.show(1) #show me the first row of the table (i.e. a display method like 'print')

In [ ]:
first_row = sample_records.row(0) #retrieve the fdirst row of the table, as an array
first_row

In [ ]:
first_row.item('Random_ID')

In [ ]:
first_row.item(2)

# Applying a function across the entire row

In [ ]:
sample_records.apply(sum) # this does not work BECAUSE some columns have strings in them

In [ ]:
sample_records.select('STUDENT_UNITS','GRADE_QUALITY_POINTS').apply(sum)
#now it works becasue we selected columns with ONLY NUMBERS

# Comparison Statements

### Assignments vs. Comparisons

In [ ]:
this_variable = 7 #assignment line 
this_variable

In [ ]:
this_variable == 7

In [ ]:
this_variable == 6

In [ ]:
this_variable = 6 
this_variable

In [ ]:
this_variable == 6, this_variable == 7

In [ ]:
this_variable >1

In [ ]:
this_variable != 5

In [ ]:
2 < this_variable <50

In [ ]:
is_this_variable_between = (2 < this_variable <50)
is_this_variable_between

### Aggregating Comparisons

In [ ]:
this_array = make_array(1, 2, 4, 8, 16, 32, 64, 67)

In [ ]:
this_array > 20

In [ ]:
this_array % 2 # this is a way we can check if a number is divisible by 2

In [ ]:
sum(this_array>20)

# Control Statements

In [ ]:
x = 20
s = 'You are 20'

In [ ]:
if x >= 21:
    s = 'You may enter this bar/nightclub'
s

In [ ]:
if x >= 18:
    s = 'You can legally vote'
s

### Combining Control Statements

In [ ]:
sample_records.group('Random_ID',sum)

In [ ]:
#determining our students as 'Full-Time', 'Part-Time', and 'Less Than Part Time'
# we look at the Number of units to determine this classification

def classify_time(num_units):
    ...
    return classification

# `for` loops

In [ ]:
for pet in make_array('cat','dog','rabbit','ferret'):
    print_pet = pet.capitalize()
    print('I love my '+print_pet)

In [ ]:
for beer_num in np.arange(99,0,-1):
    print(beer_num,"bottles of beer on the wall,",beer_num,"bottles of beer!")
    print("take one down, pass it around!",beer_num-1,"bottles of beer on the wall!")

## `for` practice: using a `for`-loop to analyze our [STEM Center webpage](https://skylinecollege.edu/stemcenter/)

In [ ]:
STEM_Center_Webpage_string = 'The Skyline College STEM Center brings together academic and student support services for students taking science, technology, engineering and math courses.The center supports student success by ensuring students have access to resources such as academic tutoring, counseling services, a resource depository for STEM pathways and transfer, a hub for internships and work based learning opportunities, as well as a place where students and staff can collaborate and build a community and supportive connection. This STEM Center was brought to campus by a U.S. Department of Education, Title V, Developing Hispanic-Serving Institutions Program “Strengthening Pathways to Success in STEM” grant awarded in 2018.'
STEM_Center_Webpage_string

We'll use the `.split()` method to store each word into a list:

In [ ]:
STEM_split = STEM_Center_Webpage_string.split()
STEM_split

In [ ]:
#before we check the 'STEM_split' list, we have not found any words matching 'student' (not yet anyway)
student_count = 0 

#this for-loop will help us look through the list, word by word
for word in STEM_split:
    print('checking: ',word)
    
    if word == 'students':
        #once we find the student, we will increase our student_count variable by adding +1 to it's 
        #previous value
        
        print(word + ' Found!') #this confirms we matched 'student'
        
        print("old count:",student_count)
        student_count = (student_count + 1) #this will update the count
        
        #student_count += 1
        print("new count:",student_count)
        
student_count

# Sampling Methods

## `np.random.choice`
<img src="random_choice.png" alt="drawing" width="1200"/>

*From the [Python reference](http://www.data8.org/sp20/python-reference.html) page

Consider the array of food we could get at the Sky Cafe here on campus:

In [ ]:
cafe_lunch_options = make_array('Salad Bar','Chicken Tendies','Quesadilla','Burger','Just hella fries',
                                'Daily Special','Sandwich','Cup Noodle')
cafe_lunch_options

#### I forgot to bring my lunch from home today, what am I getting? Run the cell below:

In [ ]:
np.random.choice(cafe_lunch_options)

#### Amapola also forgot hers. She said, "I don't know, surprise me." What are we each getting?

In [ ]:
np.random.choice(cafe_lunch_options,2)

In [ ]:
weekday= make_array('Monday','Tuesday','Wednesday','Thursday','Friday')
for day in weekday:
    im_eating = np.random.choice(cafe_lunch_options)
    print(day,im_eating)

## `tbl.sample`
<img src="table_sample.png" alt="drawing" width="1200"/>

*From the [Python reference](http://www.data8.org/sp20/python-reference.html) page

In [ ]:
cafe_options_table = Table().with_columns('What I can eat',cafe_lunch_options)
cafe_options_table

In [ ]:
cafe_options_table.sample(5).with_columns('Day of Week',weekday)

In [ ]:
cafe_options_table.sample(5,with_replacement = False).with_columns('Day of Week',weekday)

# Appending Arrays

In [ ]:
weekday

In [ ]:
add_saturday = np.append(weekday,'Saturday')
add_saturday

In [ ]:
weekend = make_array('Saturday','Sunday')

In [ ]:
full_week = np.append(weekday,weekend)

In [ ]:
full_week