# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [2]:
import numpy as np
from datascience import *

In [ ]:
# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

# Regarding the demo request

After writing this, you realize you also wanted to print out the 2nd and 3rd-highest years.  Instead of copying your code, you decide to put it in a function.  Since the rank varies, you make that an argument to your function.

**Question 1.4.** Write a function called `print_kth_top_movie_year`.  It should take a single argument, the rank of the year (like 2, 3, or 5 in the above examples) and should use the table `movies_by_year`. It should print out a message like the one above.  

*Note:* Your function shouldn't have a `return` statement.

In [ ]:
def print_kth_top_movie_year(k):
    ...
    print(...)
  

# Example calls to your function:
print_kth_top_movie_year(2)
print_kth_top_movie_year(3)

In [ ]:
# interact also allows you to pass in an array for a function argument. It will
# then present a dropdown menu of options.
_ = interact(print_kth_top_movie_year, k=np.arange(1, 10))

# Demo for `tbl.join`
<img src="table_join.png" alt="drawing" width="1200"/>

In [ ]:
drinks = Table.read_table('drinks.csv')
discounts = Table.read_table('discounts.csv')

drinks.show()
discounts.show()

# Using Pivot Tables to Analyze Credit/Debit Card Statements

Importing the csv file and storing it in the `spending` table

In [ ]:
spending = Table.read_table('...')

In [ ]:
#Take a look at all of your expenses
spending.show()

Now, let's reformat our transaction dates so that it only reports the month and year. We aim to examine how our spending habits change month-to-month.

In [ ]:
def extract_month_year(date):
    ...
    return ...

Let's use the function we just created to add a new column to our `spending` table.

In [ ]:
#creates the array of outputs from our transaction month/year function
transaction_month = spending.apply(extract_month_year,'') 

#Now we add that array to the spending table
spending = spending.with_column( '' , transaction_month)

In [ ]:
#Time to pivot!
...