# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [ ]:
import numpy as np
from datascience import *
import math

# Numbers

In [ ]:
10/3

In [ ]:
3

In [ ]:
3.0

In [ ]:
1.329487569238476592348765293456293478650234875029438

In [ ]:
123.5**123

# Strings

In [ ]:
'Here is a string'

In [ ]:
"Here is a string as well"

In [ ]:
greeting = 'hi, wassup'

In [ ]:
greeting

In [ ]:
greeting +' class'

In [ ]:
x = 'ha'
'mua'+x*10

# Types

In [ ]:
float(str(5678))

In [ ]:
type(greeting)

In [ ]:
abs?

# Looking at the difference between Strings, Ints, and Floats

In [ ]:
print('4'+'4')
print(4+4)

# Arrays and the [NumPy Module](https://numpy.org/doc/stable/reference/index.html)

In [ ]:
first_four = make_array(1,2,3,4)

In [ ]:
first_four

In [ ]:
first_four * 4

In [ ]:
random = make_array(1,4,"this string")

In [ ]:
random*4

# `np.arange` from the [NumPy](https://numpy.org/doc/stable/reference/generated/numpy.arange.html) module

In [ ]:
#np.arange(stop)
np.arange(6)

In [ ]:
#np.arange(start,stop)
np.arange(6,10)

In [ ]:
#np.arange(start,stop,step)
np.arange(2,8,3)

# Table Operations 

I strongly recommend adding the [Python Reference Page](https://www.data8.org/sp20/python-reference.html) to your bookmarks for reference! It is a sort of cheat sheet for the course! 

### Importing a Table
First, we will start with looking at how to import our data into the notebook:
<img src="Creating_Table.png" alt="drawing" width="1200"/>
*From the Python reference page

In [ ]:
spotify = Table().read_table('spotify_songs.csv')
spotify

In [ ]:
survey = Table().read_table('Math211_ClassSurvey_1_23_Export.csv')

In [ ]:
survey

In [ ]:
spotify.show(3)

### Taking a look at the Table

Whenever we want to take a look at the table itself. 
<img src="Table_show.png" alt="drawing" width="1200"/>

In [ ]:
survey.show(100)

### Identifying the Dimensions of a Table

In other words, the number of rows and columns in a given table.
<img src="Table_dimensions.png" alt="drawing" width="1200"/>

In [ ]:
spotify.num_rows

In [ ]:
spotify.num_columns

### Narrowing down the number of columns from the original table 

This can be done by choosing which columns to **only include (i.e. 'select')** or which columns to **exclude (i.e. 'drop')** from the original table. 

<img src="Table_select_drop.png" alt="drawing" width="1200"/>

In [ ]:
survey.select("How many cars do you own?","How many siblings do you have?")

In [ ]:
spotify = spotify.drop("track_id", "track_album_id","playlist_id")
spotify

### Sorting columns of a table

This is our first method (i.e. 'action') that contains an optional argument:
<img src="Table_sort.png" alt="drawing" width="1200"/>

If you want to sort from small -> large, or A - Z, then we will sort in **ascending** order. <br>
If you want to sort from large -> small, or Z - A, then we will sort in **descending** order.

In [ ]:
spotify.sort("track_album_release_date",descending = True)

### Filtering our table based upon a condition

Sometimes we want to narrow down our list of individuals based upon a status or condition and look at them in their own table. We can do so using the following method: 
<img src="Table_where.png" alt="drawing" width="1200"/>

Note that our condition is defined as a predicate. The table of predicates below: 
<img src="Table_where_predicates.png" alt="drawing" width="1200"/>

In [ ]:
survey.where("What is your starter Pokemon?",are.equal_to("Charmander"))

# Building Tables with `tbl.with_column`

We can append columns to a table using the following method. 
<img src="tbl.with_column.png" alt="drawing" width="1200"/>

In [ ]:
subscription = make_array('Netflix','HBO Max','Hulu','Crunchyroll','Spotify','DoorDash','AmazonPrime','Discord Nitro')
subscription

In [ ]:
#Amazon and Discord are annual fees
month_fee_cost = make_array(19.99,14.99,9.99,9.99,9.99,9.99,(130/12),(169.97/12))
month_fee_cost

In [ ]:
bryans_monthly_subscriptions = Table().with_columns('Subscription',subscription,'$$ per month',month_fee_cost)
bryans_monthly_subscriptions

In [ ]:
#annual_cost = bryans_monthly_subscriptions.column('$$ per month') * 12
#OR, below
annual_cost = month_fee_cost *12 
annual_cost

In [ ]:
new_table = bryans_monthly_subscriptions.with_column('$$ each year',annual_cost)#.drop('$$ per month')
new_table

In [ ]:
sum(annual_cost)